[submodule "solidity/solidity-lottery"]
	path = solidity/solidity-lottery
	url = https://github.com/aalbacetef/solidity-lottery
[submodule "solidity/lottery"]
	path = solidity/lottery
	url = https://github.com/aalbacetef/solidity-lottery
